
:local(.container) {
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro;
} 

:local(#login-column) {
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    padding-left: 6px;
    margin-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
}

:local(label) {
    text-align: left;
}

:local(.form-floating) {
    margin: 2px;
    padding: 2px;
}

:local(#submit) {
    margin-top:6px;
    padding-top:6px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}